/* application css */
body {margin:0px;}
#main {font-size:150%;line-height: 150%}

.pagebreak{color:rgba(0,255,255,0.5);}
.paragraph{font-size:75%;background: darkgreen; 
	border-radius:5px;color:white;cursor:pointer;}
.footnote{font-size:55%;color:rgba(255,255,0,0.5);border-radius:3px;cursor:pointer}
.link {font-size:75%;color:#7f7fFF;text-decoration: underline;cursor:pointer}
.link_visited{background:red;font-size:75%;text-decoration:underline;cursor:pointer;}
.kai {font-family: DFKai-SB;font-size:90%;font-width:100;}
.bold {font-weight: bold;}
.hide {display:none;}
.kepan{font-size:75%;color:rgba(0,255,0,0.5);cursor:pointer;}
.kepannomatch {border-radius:5px;font-size:75%;background-color:rgba(255,0,0,0.7);cursor:pointer;}
/*not to use border as it might trigger line height adjustment*/
/* use rainbow color */

.ndef {font-size:80%;line-height: 125%;}
.ndef_odd {background: #002020;}
.ndef_even {background: #202000;}
.found {background-color:rgba(255,30,39,0.5)}
.foundline {cursor:pointer;border-bottom:1px solid silver}
.kepanlevel{color:black;font-weight: bold;border-radius: 5px}
.kepanlevel0 { background-color:hsl(30,40%,50%);}
.kepanlevel1 { background-color:hsl(60,40%,50%);}
.kepanlevel2 { background-color:hsl(90,40%,50%);}
.kepanlevel3 { background-color:hsl(120,40%,50%);}
.kepanlevel4 { background-color:hsl(150,40%,50%);}
.kepanlevel5 { background-color:hsl(180,40%,50%);}
.kepanlevel6 { background-color:hsl(210,40%,50%);}
.kepanlevel7 { background-color:hsl(240,40%,50%);}
.kepanlevel8 { background-color:hsl(270,40%,50%);}
.kepanlevel9 { background-color:hsl(300,40%,50%);}
.kepanlevel10 { background-color:hsl(330,40%,50%);}
.kepanlevel11 { background-color:hsl(0,40%,50%);}
.kepanlevel12 { background-color:hsl(30,40%,50%);}
.kepanlevel13 { background-color:hsl(60,40%,50%);}
.kepanlevel14 { background-color:hsl(90,40%,50%);}
.kepanlevel15 { background-color:hsl(120,40%,50%);}
.kepanlevel16 { background-color:hsl(180,40%,50%);}
